@font-face {
  font-family: "Gotham A";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamA400normal.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham B";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamB400normal.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham A";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamA500normal.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham B";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamB500normal.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham A";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamA700normal.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham B";
  src: url(https://github.com/tchesa/html-email-sender/raw/master/static/GothamB700normal.woff2);
  font-weight: 700;
  font-style: normal;
}
